/* Set-Up */
:root {
    --primary: #337a7e;
    --secondary: #d5c78a;
    --text: #181112;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.page-loader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.page-wrapper {
    overflow: auto;
    padding-bottom: 65px;
}

.section-title {
    margin: 1rem 0;
    text-align: center;
}

.img-sm-section, .skills-section, .repo-section {
    margin: 0.5rem;
}

.img-sm-section, .skills-section, .skills, .footer {
    display: flex;
}

.img-sm-section, .skills-section, .skills, .repo-section {
    padding: 1rem 0;
}

.btn {
    width: 60px;
    height: 35px;
    padding: 0.5rem;
    background: var(--primary);
    border-radius: 0.3rem;
    transition: all 0.3s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

/* End of Set-Up Section */

/* Header Section */
.header-section, .footer {
    color: #fff;
}

.header-section {
    width: 100%;
    background: var(--primary);
    padding: 1rem 0;
}

.name, .job-title {
    text-align: center;
}

/* End of Header Section */

/* Image and Social Media Section */
.img-sm-section {
    display: flex;
}

.sm {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: auto 1.5rem;
    align-self: center;
}

.sm-header {
    margin-bottom: 0.5rem;
}

.sm .icon {
    font-size: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.img-sm-section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    box-shadow: 0.3rem 0.2rem #ccc;
    text-align: center;
    margin: 1rem 2rem;
}

/* End of Image and Social Media Section */

/* Skills Section */
.skills-title {
    text-align: center;
}

.skills-section {
    display: flex;
    width: 100%;
}

.skills {
    display: flex;
    margin: 0 auto;
}

.skills li {
    margin: 0.5rem 2rem;
}


/* End of Skills Section */


/* Repo Section */
.repo-section {
    display: grid;
    width: 100%;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 2rem;
}

.repo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0.1rem 0.2rem #ccc;
    border: 1px solid rgba(0, 0, 0,.2);
}

.repo-name, .repo-id {
    width: 50ch;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.repo-name {
    margin-top: 0.3rem;
}

.repo-btn {
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* End of Repo Section */

/* Footer Section */
.footer {
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    margin-top: -65px;
    clear: both;
    width: 100%;
    height: 65px;
    background-color: var(--secondary);
    padding: 0 1rem;
}

.phone-number {
    width: 50%;
}

.phone-number {
    width: 50ch;
    position: absolute;
    left: 3%;
}

.email {
    display: flex;
    float: right;
    position: absolute;
    right: 5%;
}

.fa-envelope {
    margin: 0.25rem 0.3rem 0 0;
    font-size: 1rem;
}

/* End of Footer Section */

/* Media Queries */
@media (max-width: 927px) {
    .page-wrapper, .img-sm-section, .repo-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .sm {
        padding: 1rem 0;
        text-align: center;
    }

    .skills {
        flex-direction: column;
    }
}

@media (min-width: 928px) {
    .img-sm-section, .sm {
        display: flex;
        justify-content: center;
        border: 1px solid black;
    }



    .sm .sm-header {
        margin-right: 0.5rem;
    }
}

@media (min-width: 1100px) {
    .repo-section {
        grid-template: 1fr 1fr / 200px 200px
    }

    .repo-section, .repo-item {
        margin: 0 2rem;
    }

    .img-sm-section img {
        margin: 0;
        paddding: 0;
    }
}

/* End of Media Queries */